In [1]:
names1 = ["Ava", "Emma", "Olivia"]
names2 = ["Olivia", "Sophia", "Emma"]

In [4]:
def unique_names(names1, names2):
    
    return set(names1+names2)

if __name__ == "__main__":
    names1 = ["Ava", "Emma", "Olivia"]
    names2 = ["Olivia", "Sophia", "Emma"]
    print(unique_names(names1, names2))

{'Ava', 'Sophia', 'Emma', 'Olivia'}

In [46]:
files = {
        'Input.txt': 'Randy',
        'Code.py': 'Stan',
        'Output.txt': 'Randy'
    }

In [6]:
files.keys()

dict_keys(['Input.txt', 'Code.py', 'Output.txt'])

In [21]:
files.values()
new_dic = {}
for k,v in files.items():
    new_dic[v].update(k)

KeyError: 'Randy'

In [44]:
import numpy as np
import pandas as pd

In [43]:
res = (list(files.values())) == 'Randy'
res

array([ True, False,  True])

In [39]:
np.array(list(files.keys()))

TypeError: ufunc 'multiply' did not contain a loop with signature matching types dtype('<U10') dtype('<U10') dtype('<U10')

In [59]:
df = pd.DataFrame(files.items())
{i:list(df[df[1]==i][0].values) for i in df[1].unique() }

{'Randy': ['Input.txt', 'Output.txt'], 'Stan': ['Code.py']}

In [60]:
s = "$>$Python"

s.strip("$>$")

'Python'

In [61]:
my_dict = { num:num**2 for num in range(0,10) if num%2==0 }
my_dict

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [62]:
s='fox'
s.ljust(4)

'fox '

In [65]:
arr = np.array(np.arange(100)).reshape(10,10)
arr[9]

array([90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [66]:
import pandas as pd

a = ('1', ['x', 'y'])
b = ('2', ['d', 't'])

lst = [a, b]
data = dict(lst)

df = pd.DataFrame(data)
df

   1  2
0  x  d
1  y  t

In [69]:
class Cat:   
    
    def meow(self):

        return 'meow!'

s = Cat()

s.meow()

'meow!'

In [70]:
fruits = {
    'apple': 1,
    'banana': 2,
    'coconut': 3
}

In [71]:
del fruits['coconut']

In [ ]:
fr